
   
    <!--========================================================== -->
                          <!-- ENCABEZADO -->
    <!--========================================================== -->
    <header class="container-fluid bg-primary d-flex justify-content-center">
        <p class="text-light mb-0 p-2 fs-6">Sarmiento 90 - Gral Alvear - Mendoza</p>
    </header>

    <nav  class="navbar navbar-expand-lg navbar-light p-3"  id="menu">
        <div class="container">
          <a class="navbar-brand" href="#">
              <span class="fs-5 text-primary fw-bold">Escuela N° 6-204 Concejal Battini</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="#equipo">Requisitos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#seccion-contacto">Contactos</a>
              </li>
            </ul>
           
          </div>

        </div>
      </nav>

    <!--========================================================== -->
                        <!-- SLIDER DE IMAGENES-->
    <!--========================================================== -->
   
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="assets/img/frenteEsc.jpeg" class="d-block w-100" alt="">
          </div>
          
 
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/soldadura.jpg" class="d-block w-100" alt="...">
          </div>
 

          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/mec2.jpg" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/img/carpinteria.jpg" class="d-block w-100" alt="...">
          </div>
 
 
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>    
    
        
     
     <!--========================================================== -->
                      <!-- TIPOS DE SERVICIOS-->
  <!--========================================================== -->
<div class="container w-60">
      <h1 class="mb-2 mt-5  text-center fs-2">Oferta Educativa 2023<span class="text-primary">
        Centro Capacitación para el Trabajo y Formación Profesional "Concejal Pelegrino Battini" </span></h1> 
</div>        
<section class="w-100">
<div class="row w-75 mx-auto" id="servicios-fila-1"> 
      
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
        <img src="assets/img/llaves.jpg" alt="desarrollo"   width="180" height="160">

        <div>
            <h3 class="fs-5 mt-4 px-4 pb-1">Mecánica</h3>
            <p class="px-4">Turno tarde de 14 a 18 hs.<br> Turno noche de 20 a 23 hs.</p>
           <a href="#seccion-contacto"><button type="button" class="btn btn-info btn-sm" style="margin-left: 10%;"
             >Pre-Inscribirse</button></a>
        </div>

    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
        <img src="assets/img/soldadura.jpg" alt="concepto" width="180" height="160">

        <div>
            <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Soldadura</h3>
            <p class="px-4">Turno tarde de 14 a 18 hs.<br> Turno noche de 20 a 23 hs.</p>
              <a href="#seccion-contacto"><button type="button" class="btn btn-info btn-sm" style="margin-left: 10%;"
             >Pre-Inscribirse</button></a>
        </div>
    </div>   
</div>

<div class="row w-75 mx-auto mb-5" id="servicios-fila-2">       
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
        <img src="assets/img/carpinteria.jpg" alt="comunicaciones" width="180" height="160">

        <div>
            <h3 class="fs-5 mt-4 px-4 pb-1">Carpintería</h3>
            <p class="px-4">Turno tarde de 14 a 18 hs.</p>
              <a href="#seccion-contacto"><button type="button" class="btn btn-info btn-sm" style="margin-left: 10%;"
             >Pre-Inscribirse</button></a>
        </div>
    </div>    

    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
        <img src="assets/img/plomero.jpg" alt="seo" width="180" height="160" >

        <div>
            <h3 class="fs-5 mt-4 px-4 pb-1">Instalaciones Sanitarias</h3>
            <p class="px-4">Turno noche de 20 a 23 hs.</p>
              <a href="#seccion-contacto"><button type="button" class="btn btn-info btn-sm" style="margin-left: 10%;"
             >Pre-Inscribirse</button></a>
        </div>
    </div>   
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="assets/img/electrician.jpg" alt="seo" width="180" height="160" >

      <div>
          <h3 class="fs-5 mt-4 px-4 pb-1">Montador Electricista</h3>
          <p class="px-4">Turno noche de 20 a 23 hs.</p>
            <a href="#seccion-contacto"><button type="button" class="btn btn-info btn-sm" style="margin-left: 10%;"
             >Pre-Inscribirse</button></a>
      </div>
    </div>   
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="assets/img/cable.jpg" alt="seo" width="180" height="160" >

      <div>
          <h3 class="fs-5 mt-4 px-4 pb-1">Electricidad del Automotor</h3>
          <p class="px-4">Turno noche de 20 a 23 hs.</p>
            <a href="#seccion-contacto"><button type="button" class="btn btn-info btn-sm" style="margin-left: 10%;"
             >Pre-Inscribirse</button></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="assets/img/slide1.jpg" alt="seo" width="180" height="160" >

      <div>
          <h3 class="fs-5 mt-4 px-4 pb-1">Operador de PC</h3>
          <p class="px-4">Turno noche de 20 a 23 hs.<br>Niveles 1, 2 y 3.</p>
            <a href="#seccion-contacto"><button type="button" class="btn btn-info btn-sm" style="margin-left: 10%;"
             >Pre-Inscribirse</button></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
      <img src="assets/img/art.png" alt="desarrollo"   width="180" height="160">

      <div>
          <h3 class="fs-5 mt-4 px-4 pb-1">Articulación CEBJA Ricardo Petersen</h3>
          <p class="px-4">Continuá tus estudios secundarios <br> y capacitate para el trabajo.</p>           
      </div>

   </div>
</div>
</section>

<!--========================================================== -->
                    <!-- SECCION ACERCA DE NOSOTROS-->
<!--========================================================== -->

<section>
<div class="container w-60 m-auto text-center" id="equipo">
    <h1 class="mb-2 fs-2">Cursos <span class="text-primary">Gratuitos-Certificados por DGE-Becas Progresar
    </span></h1>
   
</div>
<div class="wrapper-local">
  <h2>Requisitos para inscripción:</h2>
  <h2 class="text-primary mb-4" id="typewriter"></h2>
  <p class="fs-5 mb-1 text-body">-Mayor de 16 años turno tarde.</p>
  <p class="fs-5 mb-1 text-body">-Mayor de 18 años turno noche.</p>
  <p class="fs-5 mb-1 text-body">-Estudios primarios completos.</p>
</div>
<div class="wrapper-local">
  <h2>Documentación a presentar:</h2>
  <h2 class="text-primary mb-4" id="typewriter"></h2>
  <p class="fs-5 mb-1 text-body">-Fotocopia de DNI.</p>
  <p class="fs-5 mb-1 text-body">-Fotocopia de Acta de Nacimiento.</p>
  <p class="fs-5 mb-1 text-body">-Fotocopia de CUIL.</p>
  <p class="fs-5 mb-1 text-body">-Certificado de estudios primarios o superiores.</p>
  <p class="fs-5 mb-1 text-body">-Apto médico.</p>
</div>

<div class="mt-4 text-center">
  <h2>Ubicación</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1634.5535474983533!2d-67.69682989999998!3d-34.97898209999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x12885a564339e1df!2sEscuela%20Concejal%20Pelegrino%20Battini%20N%C2%B06204!5e0!3m2!1ses!2sar!4v1666477237317!5m2!1ses!2sar" width="300" height="300" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div id="local" class="border-top border-1">     
    <div>
        <div class="wrapper-local">
            <h2>Localizada en ciudad de General Alvear-Mendoza</h2>
            <h2 class="text-primary mb-4" id="typewriter"></h2>
            <p class="fs-5 text-body">
              Estamos ubicados en el centro de la ciudad de General Alvear en Sarmiento
              90, esquina con calle Intendente Morales y comparte manzana con la Municipalidad.
              Horario de atención: de lunes a viernes de 14:00 a 23:00 hs.             
              O comunicarse al teléfono 2625459298.</p>
            <section class="d-flex justify-content-start" id="numeros-local">

                <div>
                 <p class="text-primary fs-5">Cursos</p>
                 <p>Gratuitos y certificados por DGE</p>
               </div>
               
                <div>
                    <p class="text-primary fs-5">Duración</p>
                    <p>Un año</p>
                </div>
                
                <div>
                  <p class="text-primary fs-5">Becas</p>
                  <p>Progresar y abonos</p>                
                </div>
            
          </section>
          
        </div>
    </div>
</div>
</section>



<!--========================================================== -->
                    <!-- SECCION CONTACTOS-->
<!--========================================================== -->

<section id="seccion-contacto" class="border-bottom border-secondary border-2">
<div id="bg-contactos">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1b2a4e" fill-opacity="1" d="M0,32L120,42.7C240,53,480,75,720,74.7C960,75,1200,53,1320,42.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</div>


<!--========================================================== -->
                  <!-- CONTENEDOR DEL FORMULARIO -->
<!--========================================================== -->

<div class="container  border-top border-primary  " style="max-width: 500px" id="contenedor-formulario">

  <div class="text-center mb-4" id="titulo-formulario">
    <div ><img src="assets/img/support.png" alt="" class="img-fluid ps-5"></div><br>
    <h2>Pre-inscribite</h2>      
  </div> 

  <form autocomplete="off" [formGroup]="formFilter"  novalidate> 

    <div class="mb-3">            
      <input type="input" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre y apellido"
      [ngClass]="{'is-invalid': isValidField('nombre')}">
    </div>

    <div class="mb-3">            
      <input type="input" class="form-control" id="dni" formControlName="dni" placeholder="Ingresa DNI sin puntos"
      [ngClass]="{'is-invalid': isValidField('dni')}">
    </div>
    <div class="mb-3">            
      <input type="input" class="form-control" id="edad" formControlName="edad" placeholder="Edad"
      [ngClass]="{'is-invalid': isValidField('edad')}">  
    </div>
    <div class="mb-3">            
      <input type="input" class="form-control" id="domicilio" formControlName="domicilio" placeholder="Domicilio"
      [ngClass]="{'is-invalid': isValidField('domicilio')}">
    </div>

        <div class= "mb-3">           
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email"
          [ngClass]="{'is-invalid': isValidField('email')}">
        </div>
    
      
        <div class="mb-3">
          <input type="input" class="form-control" id="telefono" formControlName="telefono" placeholder="Teléfono"
          [ngClass]="{'is-invalid': isValidField('telefono')}">
        </div>

      <div class="mb-3">
          
        <select type="select" class="form-select form-select-mb-3"  formControlName="especialidad" [ngClass]="{'is-invalid': isValidField('especialidad')}">
          <option value="" disabled selected>Elige una especialidad y turno</option>
          <option value="Mecánica-Turno Tarde">Mecánica-Turno Tarde</option>
          <option value="Soldadura-Turno Tarde">Soldadura-Turno Tarde</option>
          <option value="Carpintería-Turno Tarde">Carpintería-Turno Tarde</option>
          <option value="Soldadura-Turno Noche">Soldadura-Turno Noche</option>
          <option value="Instalaciones Sanitarias-Turno Noche">Instalaciones Sanitarias-Turno Noche</option>
          <option value="Mecánica-Turno Noche">Mecánica-Turno Noche</option>            
          <option value="Operador PC-Turno Noche">Operador PC-Turno Noche</option>
          <option value="Montador Electricista-Turno Noche">Montador Electricista-Turno Noche</option>
          <option value="Electricidad Automotor-Turno Noche">Electricidad Automotor-Turno Noche</option>
        </select>
      </div>

      <div class="mb-3">
        <button type="button" class=" btn btn-primary w-100 fs-5" [disabled]="formFilter.invalid" (click)="onSubmit()">Enviar</button>
      </div>
  </form>
  </div>

</section>
<!-- propiedades de los input y form
  <pre>
  {{formFilter.value | json}}
</pre>
<pre>
  {{formFilter.status}}
</pre> -->


<!--========================================================== -->
                    <!--FOOTER-->
<!--========================================================== -->



<footer class="w-100 d-flex  align-items-center justify-content-center flex-wrap">
  <p class="fs-5 px-3  pt-1">Desarrollado por Silvio Rosas Dev. &copy; Todos Los Derechos Reservados 2022</p>
  <div id="iconos" class="pb-3" >
    <i class="bi bi-envelope"></i><span style="color: rgb(194, 191, 191);">silviorosas@yahoo.com.ar</span>
       
  </div>
</footer>

  
  
  



